body{
    font-family: arial, sans-serif;
    background: rgb(185, 185, 185);
    margin: 0;
  }

.hero{
    background-image: url(../imagens/bg-3.webp);
    height: 1000px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid rgb(185, 185, 185);
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 350px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 60px;
    text-shadow: 3px 3px 2px rgba(51, 51, 51, 0.596);
    font-size: 80px;
}

.hero-content p{
    background: rgba(0, 0, 0, 0.61);
    display: inline-block;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.582);
}
.hero nav ul{
    text-align: right;
    margin:20px 30px 0px 0px;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
}

.hero nav a{
    background: black;
    background: rgba(0,0,0,0.3);
    display: block;
    padding: 10px;
    color:rgba(224, 219, 219, 0.61);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

.hero nav a:hover{
    background: rgba(0,0,0,0.5);
}
main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    overflow: auto;

}
.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card-1, .card-2{
    margin-right: 2%;

}
.card img {
    width: 100%;
    display: block;

}
.card p{
    background-color: rgba(0, 0, 0, 0.726);
    color:white;
    margin: 0;
    padding: 12px;

}
.rodape{
    text-align: center;
    padding-top: 30px;

}